
body{
    background-color: rgb(46, 46, 46);
    font-family: roboto;
}

#board{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display:block;
    width: 80vh;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(8,12.5%);
    grid-template-rows: repeat(8,12.5%);
    grid-gap: 0px;
    margin:auto;
    margin-top: 40px;
    box-shadow: 0px 3px 5px rgb(27, 27, 27);
    position:relative;
}

.square img{
    height: 100%;
    width: 100%;
}

#prompt{
    position:fixed;
    margin: auto;
    width: 30vh;
    height: 30vh;
    margin: 25vh;
    font-size: 25vh;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px black;
    display:none;
    pointer-events:none;
}

#prompt2{
    margin-top: 2vh;
    padding: 1vh;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 1vh;
    box-shadow: 0px 3px 5px rgb(27, 27, 27);
    position:absolute;
    left: 1vh;
    bottom: -7vh;
    width: 7vh;
}

#menu_button{
    margin-top: 2vh;
    padding: 1vh;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    color: rgb(71, 71, 71);
    background-color: transparent;
    border-radius: 1vh;
    border: none;
    position:absolute;
    right: 1vh;
    bottom: -7vh;
}

.wrong_square{
    background-color: rgb(255, 99, 99) !important;
}

.correct_square{
    background-color: lightgreen !important;
}


button{
    background-color: rgb(226, 226, 226);
    box-sizing: content-box;
}

#menu_button:hover{
    color:darkgrey;
}


.perspective_button{
    box-shadow: 2px 2px 0px rgb(148, 148, 148);
    font-size: 2.5vh;
    font-weight: bold;
    border: 7px solid transparent;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    padding:0;
    margin:5px;
}

.perspective_button img{
    height: 100%;
    width: 100%;
}

.perspective_button:focus{
    outline:none;
}

.row_button{
    box-shadow: 3px 3px 0px rgb(148, 148, 148);
    display:block;
    font-size: 20px;;
    padding: 30px;
    margin: auto;
    font-weight: bold;
    border: 7px solid transparent;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    margin-top: 20px;
    padding:0;
}

#close_button{
    display:block;
    font-size: 20px;;
    padding: 30px;
    margin: auto;
    font-weight: bold;
    border: 7px solid transparent;
    transition-duration: 0.2s;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    margin-top: 30px;
    padding:0;
    background-color:rgb(46, 46, 46);
    color: white;
    box-shadow: 3px 3px 0px rgb(175, 175, 175);
}


.selected{
    border: 7px solid rgb(61, 173, 224);
    box-shadow: none;
    box-shadow: 3px 3px 0px rgb(42, 118, 153);
}
.selected:focus{
    border: 7px solid rgb(61, 173, 224);
    outline:none;
}
button:focus{
    outline:none;
}





.dark{
    background-color: #8da2ac;
    color: #dee3e6;
}

.light{
    background-color: #dee3e6;
    color: #8da2ac;
}

table{
    border-collapse: collapse;
    display:block;
    width: 100%;
    height: 100%;
}


.rank, .file{
    font-weight: bold;
    position:absolute;
    font-size: 1.5vh;
}

.rank{
    top: 0.25vh;
    right: 0.25vh;
}

.file{
    bottom: 0.25vh;
    left: 0.25vh;
}

.square{
    position: relative;
    transition-duration: 0s;
}

#curtain{
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 20%;
    z-index: 1;
    display:none;
}

#menu{
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    display:none;
}

.heading{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid lightgrey;
    padding-bottom: 5px;
}

#container{
    margin: auto;
    margin-top: 100px;
    width: 400px;
    height: 700px;
    border-radius: 10px;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 3px 5px rgb(53, 53, 53);
    text-align: center;
    position:relative;
}

.title{
    padding-top: 15px;
}